.feedback-wrapper {
  width: 100%;
  height: 1360px;
  position: relative;
}

.feedback__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}