.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 150px;
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 36px;
  font-weight: 800;
}

.header-nav {
  margin: 0 90px;
}