.menu__list {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu__item {
  height: 100%;
}

.menu__link {
  color: $links-color;
  border: 3px solid transparent;
  padding: 0 30px 40px;

  &:hover {
    color: $hover-color;
    transition: $speed;
  }

  &.active {
    border-bottom: 3px solid $fixhover-color;
    transition: $speed;
  }
}