.menu__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu__item {
  cursor: pointer;
  border: 2px solid transparent;
  margin-right: 30px;
  padding: 5px;
  &:last-child {
    margin-left: 0;
  }
  &:hover {
    border-bottom: 2px solid $links-color;
    transition: 1s;
  }
}

.menu__link {
  color: $links-color;
}