.skills__discription_subtitle {
  color: $grey-color;
  font-weight: 600;
  line-height: 1.7;
  padding-bottom: 70px;
}

.footer__subtitle {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  color: $copyright-color;
  margin-right: 130px;
  position: relative;
}