mixin circle()
  svg.circle__icon(viewBox="0 0 150 150")
    circle.circle__icon.circle__icon--grey(cx="75" cy="75" r="65")
    circle.circle__icon.circle__icon--blue(cx="75" cy="75" r="65" ref="color-circle" transform="rotate(180, 75, 75)")