mixin circle()
  svg.circle__icon(viewBox="0 0 150 150")
    circle.circle__icon.circle__icon--down(cx="75" cy="75" r="65")
    circle.circle__icon.circle__icon--up(cx="75" cy="75" r="65" stroke="url(#gradient)" ref="color-circle" transform="rotate(180, 75, 75)")
    linearGradient(id="gradient" x1="100%" y1="50%" x2="0" y2="50%")
      stop(offset="0%" stop-color="#0066ef")
      stop(offset="100%" stop-color="#0089f2")