mixin circle(mod)
  svg.skills-circle__icon(viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg")
    circle.skills-circle__icon--grey(cx="75" cy="75" r="65")
    circle(class='skills-circle__icon--blue skills-circle__icon--' + mod cx="75" cy="75" r="65")