.footer__author
  .footer__copyright &copy 2020
  .footer__author_name
    h4.footer__author_title Сергей Потолицын
    .footer__author_subtitle Личный сайт вебразработчика
.footer__content
  .footer__menu
    +nav('footer menu', [
      {
        name: "Главная",
        anchor: "promo"
      },
      {
        name: "Обо мне",
        anchor: "profile"
      },
      {
        name: "Навыки",
        anchor: "skills"
      },
      {
        name: "Работы",
        anchor: "works"
      },
      {
        name: "Отзывы",
        anchor: "reviews"
      },
      {
        name: "Связаться",
        anchor: "order"
      }
    ])
  .footer__contacts
    .footer__socials
      +subtext('footer__socials_text')
      +socials('footer')
    blockquote.footer__article
      p.footer__article_text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
      cite.footer__article_author Martin Colding