.header__logo
  .short__name СП
.header__menu
  +nav('menu', [
    {
      name: "Главная",
      anchor: "promo"
    },
    {
      name: "Обо мне",
      anchor: "profile"
    },
    {
      name: "Навыки",
      anchor: "skills"
    },
    {
      name: "Работы",
      anchor: "works"
    },
    {
      name: "Отзывы",
      anchor: "reviews"
    },
    {
      name: "Связаться",
      anchor: "order"
    }
  ])
.header__socials_ham-menu
  +socials('header')
  button.header__ham-menu
    span.header__ham-menu_icon
    span.header__ham-menu_icon
    span.header__ham-menu_icon
    span.header__ham-menu_icon