section.order#order
  h3.order__title Связаться со мной
  .order__content
    form.order-form(action='https://webdev-api.loftschool.com/sendmail' method='POST')
      .order-form__row
        label.order-form__block
          .order-form__title Введите ваше имя
          .order-form__value
            .order-form__img
              +icon('user', 'order-icon')
          input.order-form__input.js-input(type='text' name='name')
          .order-form__error
        label.order-form__block
          .order-form__title Введите ваш e-mail
          .order-form__value
            .order-form__img
              +icon('envelope', 'order-icon')
          input.order-form__input.js-input(type='email' name='email')
          .order-form__error
      .order-form__row
        label.order-form__block
          .order-form__title Введите ваш телефон
          .order-form__value
            .order-form__img
              +icon('phone', 'order-icon')
          input.order-form__input.js-input(type='tel' name='phone')
          .order-form__error
      .order-form__row
        label.order-form__block
          .order-form__title Сообщение к письму
          .order-form__value
            .order-form__img
              +icon('message', 'order-icon')
          textarea.order-form__input.js-input.order-form__input--textarea(name='comment')
          .order-form__error
      .order-form__row
        button.order-form__btn.order-form__btn--send(type='submit') Отправить