section.order#order
  h3.order__title Связаться со мной
  .order__content
    form.order-form
      .order-form__row
        label.order-form__block
          .order-form__title Введите ваше имя
          .order-form__value
            .order-form__img
              +icon('user', 'order-icon')
            input.order-form__input(type='text' name='name')
        label.order-form__block
          .order-form__title Введите ваш e-mail
          .order-form__value
            .order-form__img
              +icon('envelope', 'order-icon')
            input.order-form__input(type='email' name='to')
      .order-form__row
        label.order-form__block
          .order-form__title Сообщение к письму
          .order-form__value
            .order-form__img
              +icon('message', 'order-icon')
            textarea.order-form__input.order-form__input--textarea(name='comment')
      .order-form__row
        label.order-form__btn
          input.order-form__btn(type='submit' value='Отправить')#send-order