.parallax
  .parallax__layer(data-speed="0.1")
    +image('content/parallax/1.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.15")
    +image('content/parallax/2.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.20")
    +image('content/parallax/3.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.25")
    +image('content/parallax/4.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.30")
    +image('content/parallax/5.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.35")
    +image('content/parallax/6.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.50")
    +image('content/parallax/7.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.40")
    +image('content/parallax/8.png', 'parallax__img', 'Изображение параллакса')
  .parallax__layer(data-speed="0.45")
    +image('content/parallax/9.png', 'parallax__img', 'Изображение параллакса')