.parallax.parallax-fest
  .parallax-fest__layer(data-speed="0")
    +image('content/parallax/fest/1.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0")
    +image('content/parallax/fest/2.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0")
    +image('content/parallax/fest/3.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.2")
    +image('content/parallax/fest/4.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.3")
    +image('content/parallax/fest/5.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.4")
    +image('content/parallax/fest/6.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.5")
    +image('content/parallax/fest/7.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.3")
    +image('content/parallax/fest/8.png', 'parallax-fest__img', 'Изображение параллакса')
  .parallax-fest__layer(data-speed="0.2")
    +image('content/parallax/fest/9.png', 'parallax-fest__img', 'Изображение параллакса')