.popup-menu
  .popup-menu__content
    .popup__menu
      +nav('popup menu', [
        {
          name: "Главная",
          anchor: "promo"
        },
        {
          name: "Обо мне",
          anchor: "profile"
        },
        {
          name: "Навыки",
          anchor: "skills"
        },
        {
          name: "Работы",
          anchor: "works"
        },
        {
          name: "Отзывы",
          anchor: "reviews"
        },
        {
          name: "Связаться",
          anchor: "order"
        }
      ])
    .popup__socials
      +socials('popup')