section.promo
  .promo__content
    h1.title.promo__title Сергей Потолицын
      span.subtittle.promo__subtitle Личный сайт вебразработчика
  .promo__scroll
    a.promo__scroll_btn(href='#profile') 
      .promo__scroll_btn--text Скролл
      +icon('scroll', 'promo__scroll_btn--icon')