.container.promo-container
  .promo-content
    h1.subtittle.promo-subtitle Личный сайт вебразработчика
    h1.title.promo-title Сергей Потолицын
  .promo-scroll
    .scroll__text Скролл
    button.scroll__btn(type="button")
      +icon('scroll', 'scrool__btn_icon')