section.reviews#reviews
  .reviews__slider 
    h3.reviews__title Что обо мне говорят
    .reviews__widget
      #reviews-component

script(type="text/x-template")#reviews-container
  .reviews__carusel-wrapper
    .reviews__carusel_move
      button.reviews__carusel_btn(@click="previous()")
        +icon('arrow-down', 'reviews__carusel_btn-icon reviews__carusel_btn-icon--prev')
      button.reviews__carusel_btn(@click="next()")
        +icon('arrow-down', 'reviews__carusel_btn-icon reviews__carusel_btn-icon--next')
    flickity.reviews__carusel(ref="flickity" :options="flickityOptions")
      .reviews__carusel_cell(v-for="review in reviews")
        .reviews__item
          .reviews__img
            +icon('quote', 'reviews__icon')
          .reviews__desc
            p.reviews__desc_text {{review.desc}}
            .reviews__desc_author
              .reviews__desc_author-foto
                img(:src="review.photo" class="reviews__desc_author-pic" alt="Фотография автора отзыва")
              .reviews__desc_author-text
                .reviews__desc_author--name {{review.author}}
                .reviews__desc_author--range {{review.range}}