section.reviews
  .reviews__slider
    h3.reviews__title Что обо мне говорят
    .reviews__scroll
      button.reviews__scroll_btn
        +icon('arrow-down', 'reviews__scroll_icon reviews__scroll_icon--next')
      button.reviews__scroll_btn
        +icon('arrow-down', 'reviews__scroll_icon reviews__scroll_icon--prev')
  .reviews__content
    ul.reviews__list
      li.reviews__item
        .reviews__img
          +icon('quote', 'reviews__icon')
        .reviews__desc
          p.reviews__desc_text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool. А это что-то да значит!
          .reviews__desc_author
            .reviews__desc_author-foto
              +image('content/reviews_1.png', 'reviews__desc_author-pic')
            .reviews__desc_author-text
              .reviews__desc_author--name Ковальчук Дмитрий
              .reviews__desc_author--range Основатель школы LoftSchool
      li.reviews__item
        .reviews__img
          +icon('quote', 'reviews__icon')
        .reviews__desc
          p.reviews__desc_text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых бабушках!
          .reviews__desc_author
            .reviews__desc_author-foto
              +image('content/reviews_2.png', 'reviews__desc_author-pic')
            .reviews__desc_author-text
              .reviews__desc_author--name Владимир Сабанцев
              .reviews__desc_author--range Преподователь школы LoftSchool