.skills__discription
  .skills__discription_bg
  .skills__discription_text
    h2.skills__discription_title Чем я могу быть вам полезен
    +subtitle('skills__discription_subtitle')
.container.skills-image__container
  .skills-image__list
    h2.skills-title Front-end
    .skills-circle__list
      .skills-circle__item
        +circle('html')
        h3.skills-circle__title HTML5
      .skills-circle__item
        +circle('css')
        h3.skills-circle__title CSS3
      .skills-circle__item
        +circle('js')
        h3.skills-circle__title Javascript
      .skills-circle__item
        +circle('jq')
        h3.skills-circle__title jQuery
  .skills-image__list
    h2.skills-title Workflow
    .skills-circle__list
      .skills-circle__item
        +circle('git')
        h3.skills-circle__title Git
      .skills-circle__item
        +circle('term')
        h3.skills-circle__title Terminal
      .skills-circle__item
        +circle('gulp')
        h3.skills-circle__title Gulp
      .skills-circle__item
        +circle('wp')
        h3.skills-circle__title Webpack