.skills__desc
  h3.skills__title Чем я могу быть вам полезен
  +subtext('skills__subtitle')
.skills__content
  ul.skills__list
    li.skills__item Front-end
      ul.circle__list
        li.circle__item
          +circle('html')
          span.circle__title HTML5
        li.circle__item
            +circle('css')
            span.circle__title CSS3
        li.circle__item
          +circle('js')
          span.circle__title Javascript
        li.circle__item
          +circle('jq')
          span.circle__title jQuery
    li.skills__item Workflow
      ul.circle__list
        li.circle__item
          +circle('git')
          span.circle__title Git
        li.circle__item
          +circle('term')
          span.circle__title Terminal
        li.circle__item
          +circle('gulp')
          span.circle__title Gulp
        li.circle__item
          +circle('wp')
          span.circle__title Webpack