mixin socials(mod)
  div(class='socials socials--' + mod)
    ul.socials__list
      each social in ['insta', 'vk', 'github']
        li.socials__item
          a(class=`socials__link socials__link--${social}` href="#")
            +icon(`${social}`, 'socials__icon')