include ./mixins.pug
include ./components/socials.pug
include ./components/circle.pug
include ./components/subtitle.pug
include ./components/menu.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Rockstar
  body
    .wrapper
      .main-content
        section.header
          include ./components/header.pug
        section.promo
          include ./components/promo.pug
          include ./components/profile.pug
        section.skills
          include ./components/skills.pug
        section.works
          include ./components/works.pug
        section.about
          include ./components/reviews.pug
          include ./components/order.pug
        section.footer
          include ./components/footer.pug