include ./mixins.pug
include ./components/socials.pug
include ./components/circle.pug
include ./components/subtext.pug
include ./components/menu.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Rockstar
  body
    .wrapper
      header.header
        .container.header__container
          include ./components/header.pug
      .promo-wrapper
        include ./components/parallax-fest.pug
        .container.promo__container
          include ./components/promo.pug
          include ./components/profile.pug
      section.skills#skills
        .container.skills__container
          include ./components/skills.pug
          .skills__widget
            #skills-component
              include ./components/skills-widget.pug
      section.works#works
        .container.works__container
          include ./components/works.pug
          .works__widget
            #slider-component
              include ./components/works-widget.pug
      .feedback-wrapper
        include ./components/parallax-music.pug
        .feedback__section
          .container.feedback__container
            include ./components/reviews.pug
            include ./components/order.pug
      footer.footer
        .container.footer__container
          include ./components/footer.pug
      include ./components/popup-menu.pug